/*Global Styles*/
html {
    font-family: Rubik, Sans-serif;
    font-size: 16px;
    padding: 0;
    margin: 0;
}

body {
    margin: 0;
}

main {
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
}

.blue-background {
    background-color: #1961ff;
    color: white;
    padding: 0 5px 0 5px;
    border-radius: 5px;
}

/*Header Styles*/
#logo {
    width: 200px;
}

header {
    width: 80vw;
    display: flex;
    justify-content: space-between;
    margin: 10px auto 10px auto;
}

li {
    display: inline;
    margin: 20px;
    font-weight: bold;
}

ul a {
    text-decoration: none;
    color: black;
}

ul a:hover {
    text-decoration: underline;
    text-decoration-color: #1961ff;
    text-decoration-thickness: 2px;
    text-underline-offset: 10px;
}

/*Hero Section Styles*/
#about-me {
    display: flex;
    align-items: center;
}

img {
    width: 50%;
    border-radius: 15px;
}

#about-me div {
    margin: 0 20px 0 20px;
    text-align: justify;
}

/*My Projects Section Styles*/
#my-projects {
    align-items: center;
    margin: 80px 0 80px 0;
    width: 100%;
    display: flex;
}

#my-projects h2, h3 {
    text-align: center;
}

#my-projects h3 {
    background-color: #1961ff;
    padding: 100px;
    margin: 10px;
    border-radius: 15px;
    color: white;
}

#my-projects div {
    margin-right: 100px;
}

.heading {
    width: 25%;
}

.projects {
    width: 75%;
    display: flex;
}

/*Media Queries*/

@media only screen and (max-width: 1300px) {
    #my-projects h2, #my-skills h2 {
        text-align: center;
    }

    #my-projects, #my-skills {
        flex-wrap: wrap;
    }

    #my-projects .projects, #my-skills .projects {
        flex-wrap: wrap;
        width: 100%;
        margin: 0;
        justify-content: center;
    }

    #my-projects .heading, #my-skills .heading {
        width: 100%;
        margin: 0;
    }
}

@media only screen and (max-width: 1060px) {
    #about-me {
        flex-wrap: wrap;
    }

    #about-me img {
        width: 70%;
        margin: 0 auto;
        min-width: 200px;
    }

    #about-me h1 {
        text-align: center;
        margin-top: 50px;
    }
}

/*My Skills Section Styles*/
#my-skills {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 80px 0 80px 0;

}

#my-skills img {
    height: 50px;
    width: auto;
    margin: 20px 40px 20px 10px;
}

#my-skills div {
    margin-right: 100px;
}

/*Footer Styles*/
footer {
    background-color: lightgray;
    margin: 0;
    padding: 1px;
}

.heart {
    color: red;
}

footer p {
    text-align: center;
}

/*Contact Page Styles*/

#contact-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.fa-solid {
    display: inline;
    padding: 5px;
}

.inline {
    display: inline;
    padding: 5px;
}