/*Global Styles*/
html {
    font-family: Rubik, Sans-serif;
    font-size: 16px;
    padding: 0;
    margin: 0;
}

body {
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
}

.blue-background {
    background-color: #1961ff;
    color: white;
    padding: 0 5px 0 5px;
    border-radius: 5px;
}

/*Header Styles*/
#logo {
    width: 200px;
}

header {
    display: flex;
    justify-content: space-between;
    margin: 10px 0 10px 0;
}

li {
    display: inline;
    margin: 20px;
}

/*Hero Section Styles*/
#hero-section {
    display: flex;
    align-items: center;
}

img {
    width: 50%;
    border-radius: 15px;
}

#hero-section div {
    margin: 0 20px 0 20px;
    text-align: justify;
}

/*My Projects Section Styles*/
#my-projects {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 0 50px 0;
}

#my-projects div {
    margin-right: 100px;
}

#my-projects div:not(:first-child) {
    background-color: #1961ff;
    padding: 100px;
    margin: 10px;
    border-radius: 15px;
    color: white;
}

/*My Skills Section Styles*/
#my-skills {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 30vh;
}

#my-skills img {
    height: 50px;
    width: auto;
    margin: 20px 40px 20px 10px;
}

#my-skills div {
    margin-right: 100px;
}

/*Footer Styles*/
.heart {
    color: red;
}

footer p {
    text-align: center;
}

/*Contact Page Styles*/
#contact-body {
    height: 100vh;
}

#contact-section {
    display: flex;
    justify-content: center;
    align-content: center;
}